@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #2C3E50;
}

 
 
 .button {
    background-color: #6D214F;
 }
  
.footer{
    background-color: #244e6b;
} 
.navigation{ 
    background-color: #16405c;
} 
.menu_hamburger{
    display: none;
}
 
@media screen and (max-width:767px) {
    .menu_hamburger{
        display: block;
    }
}